@import 'vars';

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #logo {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  #content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;

    header {
      flex: 1;
      background: black;
      color: white;
      width: 20vw;
      padding: 0;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      #logo {
        width: 16vw;
        height: 16vw;
        margin: 15vh 2vw;
        font-size: 3.5rem;
        font-weight: bold;
        border-radius: 50%;
        background: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    #content {
      flex: 4;
      max-width: 80vw;
    }
  }

}
