@import 'vars';

.button {
  text-transform: uppercase;
  background: black;
  color: white;
  transition: all 300ms ease;
  border: none;
  outline: none;
  padding: 1rem 3rem;

  &:hover {
    background: white;
    color: black;
    box-shadow: 0 0.125rem 0.25rem lightgrey;
  }

  &:disabled {
    background: lightgrey;
  }
}

.ghost {
  border: 2px solid black;
  color: black;
  background: white;
  border-radius: 5px;

  @media screen and (max-width: $desktop) {
    padding: 0.5rem 1rem;
  }
}
