.loading {
  animation: spin 2s infinite linear;
  display: inline-flex;
  line-height: 1px;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}